In [1]:
import pickle
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [2]:
DATA_PATH = "./data/train.csv"

In [3]:
df = pd.read_csv(DATA_PATH)
df.head(3)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,174201,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1

In [4]:
df.dropna(inplace=True)

In [7]:
columns_to_drop = ['fnlwgt', 'educational_num', 'workclass', 'race', 'native_country', 'gender']
columns_ = [_.replace('-', '_') for _ in list(df.columns)]
columns = dict(zip(list(df.columns), columns_))
df.rename(columns=columns, inplace=True)

df_new = df.drop(columns=columns_to_drop)

In [8]:
X_new = df_new.loc[:, df_new.columns[:-1]]
y_new = df_new['income_>50K']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X_new, y_new, random_state=42, test_size=0.2)

In [10]:
filename = 'model02.pkl'
loaded_model = pickle.load(open(filename, 'rb'))

In [12]:
cv_score = cross_val_score(loaded_model, X_test, y_test, cv=3, scoring='f1_weighted')
cv_score.mean()

0.8471090916003515